<h2><%= @band.name %></h2>
<br>
<% if @band.venues().any?() %>
  <h3>Tour Venues</h3>
  <ul>
    <% @band.venues().each() do |venue| %>
    <li><%= venue.name() %></li>
    <% end %>
  </ul>
<% end %>

<br><br><br>


<h4>Select Venues That The Band Will Be Touring</h4>
<% if @venues.any?() %>
  <form action='/bands/<%= @band.id %>/venues' method='post'>
    <% @venues.each() do |venue| %>
      <div class='checkbox'>
          <label>
            <input type='checkbox' name='venue_ids[]' value='<%= venue.id %>'><%= venue.name %>
          </label>
      </div>
<% end %>
  <button type='submit'>Add Venue To Tour</button>
  </form>
<% end %>



<br><br><br>


<form action='/bands/<%= @band.id %>' method='post'>
    <input type='hidden' name='_method' value='patch'>
    <input id='name' name='name' type='text'>
    <button type='submit'>Edit Band Name</button>
</form>


<br><br><br>



<form action='/bands/<%= @band.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <button type='submit'>Kick This Band Off Stage</button>
</form>
